/packages
leftmenubar/leftmenubar/bin
leftmenubar/leftmenubar/obj
leftmenubar/leftmenubar.Droid/bin
leftmenubar/leftmenubar.Droid/obj
leftmenubar/leftmenubar.iOS/bin
leftmenubar/leftmenubar.iOS/obj
leftmenubar/leftmenubar.Windows/bin
leftmenubar/leftmenubar.Windows/obj
XAMLVersion/leftmenubar/leftmenubar.Android/bin
XAMLVersion/leftmenubar/leftmenubar.Android/obj
XAMLVersion/leftmenubar/leftmenubar.iOS/bin
XAMLVersion/leftmenubar/leftmenubar.iOS/obj
.vs/*
